<div class="container-fluid">
  <div class="row m-5 pt-5">
    <div class="col-3"></div>
    <div class="col-6">
      <div class="card shadow">
        <div class="card-body">
          <form #form="ngForm">
            <div class="mb-3">
              <h4 class="text-dark text-muted">Reset Password</h4>
            </div>
            <div class="mb-3">
              <p class="text-center ">Please enter your email address .</p>
            </div>

            <div class="formGroup mb-3">
              <input type="email" class="form-control" placeholder="Email Address" #passwordResetEmail required>
            </div>
            <!-- Calling ForgotPassword from AuthService Api -->
            <div class="formGroup mb-3">
              <input type="submit" class="btn btn-primary" value="Reset Password"
                (click)="_AuthService.ForgotPassword(passwordResetEmail.value)">
            </div>
            <div class="redirectToLogin mb-3">
              <span>Go back to ? <span class="redirect link-primary" routerLink="/Login">Log In</span></span>
            </div>
          </form>
          <div class="mb-3"></div>
        </div>
      </div>
    </div>
  </div>
</div>
